thead{
    color: black;
    background-color: #7fb9c2;
}

thead tr:nth-child(odd){
    font-size: 26px;
}

thead tr:nth-child(even){
    font-size: 16px ;
    color: white;
    background-color:#628ca6;
    letter-spacing: 1px;
}

tbody{
    font-size: 15px;
}

tbody tr:nth-child(even){
    background-color: #e7ffed;
}

tbody tr:nth-child(odd){
    background-color: #e7f0ed ;
}

tfoot {   
    font-size: 10px;
    background-color: #7fb9c2;
}

table, th, td {
    font-family:"Ubuntu", sans-serif;
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
    border-collapse: collapse;
}

table{
    box-shadow: 10px 10px 6px 6px #ccc;
    box-shadow: 5px 5px 6px 6px #ccc;
}

.highlight{
    background-color:#628ca6;
    color: white;
}


form fieldset{
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form lable.top, form div{
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;
    
}

form input.submitBtn{
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}
